# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# MS Office temporary lock files
~$*

# Editor folders
.vscode/
.idea/

# Hugging Face cache (optional)
.cache/huggingface/hub/
